<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" type="text/css" href="css/skeleton.min.css">
        <link rel="stylesheet" type="text/css" href="css/slick.css">
        <link rel="stylesheet" type="text/css" href="css/index.css" />
    </head>
    <body>

        <div id="view"></div>
        <footer>
            <div class="left"></div>
            <div class="right">
                <a href="#/share">Share</a> | 
                <a href="#/about">About</a>
            </div>
        </footer>

        <!-- Templates -->
        <script type="text/html" id="tpl-list-locations">
            <header>
                <p class="header_title"><%= header_title %></p>
            </header>
            <div class="body">
                <% _.each(list_locations, function(item) { %>
                    <a href="#/cities/<%= item.name %>">
                    <li class="list_title">
                        <%= item.name %>
                    </li>
                    </a>
                <% }); %>
            </div>
        </script>

        <script type="text/html" id="tpl-list-props">
            <header>
                <% if(back === true) { %>
                    <span class="backBtn">Back</span>
                <% } %>
                <p class="header_title"><%= header_title %></p>
            </header>
            <div class="body">
                <% _.each(list_properties, function(item) { %>
                    <a href="<%= current_hash %>/<%= item.name %>">
                    <li class="list_title">
                        <span><%= item.name %></span>
                        <% if(_.contains(fav, item.id)) { %>
                            <span class="flag faved">&#9873;</span>
                        <% } else { %>
                            <span class="flag">&#9873;</span>
                        <% } %>
                    </li>
                    </a>
                <% }); %>
            </div>
        </script>

        <script type="text/html" id="tpl-prop-detail">
            <header>
                <% if(back === true) { %>
                    <span class="backBtn">Back</span>
                <% } %>
                <% if(fav === true) { %>
                    <span class="favBtn faved">&#9873;</span>
                <% } else { %>
                    <span class="favBtn">&#9873;</span>
                <% } %>
                <% if(header_title.length<=20) { console.log("REGULAR TITLE>>>")%>
                    <p class="header_title"><%= header_title %></p>
                <% } else { console.log("REGULAR TITLE>>>") %>
                    <p class="header_title_long"><%= header_title %></p>
                <% } %>
            </header>
            <div class="body">
                <div class="slick_carousel">
                    <% _.each(images, function(image) { %>
                        <div class="slick_carousel_bg" img-id="<%= image.id %>">
                            <img src="<%= server_address %><%= image.url %>">
                        </div>
                    <% }); %>
                </div>
                <div class="prop_info">
                    <p><%= info %></p>
                </div>
            </div>
        </script>

        <script type="text/html" id="tpl-share">
            <header>
                <% if(back === true) { %>
                    <span class="backBtn">Back</span>
                <% } %>
                <p class="header_title"><%= header_title %></p>
            </header>
            <div class="body">
                <!-- list of favs -->
                <div id="fav_list">
                    <% if(fav_list.length > 0) { %>
                        <% _.each(fav_list, function(p_item) { %>
                            <li class="fav_item" data-id="<%= p_item.id %>">
                                <span class="fav_title">
                                    <%= p_item.name %>
                                </span>
                                <span class="fav_delete">
                                    &times;
                                </span>
                            </li>
                        <% }); %>
                    <% } %>
                </div>
                <div id="share_form">
                    <label>First name:</label>
                    <input type="text" id="share_first_name">
                    <label>Last name:</label>
                    <input type="text" id="share_last_name">
                    <label>Email address:</label>
                    <input type="text" id="share_email">
                    <input type="submit" id="share_submit">
                </div>
            </div>
        </script>

        <script type="text/html" id="tpl-about">
             <header>
                <% if(back === true) { %>
                    <span class="backBtn">Back</span>
                <% } %>
                <p class="header_title"><%= header_title %></p>
            </header>
            <div class="body">

            </div>
        </script>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/zepto.min.js"></script>
        <script type="text/javascript" src="js/fastclick.min.js"></script>
        <script type="text/javascript" src="js/lodash.min.js"></script>
        <script type="text/javascript" src="js/routie.min.js"></script>
        <script type="text/javascript" src="js/slick.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
